@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;900&display=swap");

body {
  font-family: "Inter", sans-serif;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: whitesmoke;
  flex-direction: column;
  overflow: hidden;
}

section.container {
  max-width: 500px;
  background-color: #10c1d0;
  padding: 30px;
  border-radius: 20px;
  -webkit-box-shadow: 2px 2px 10px 1px rgba(50, 50, 50, 0.75);
  -moz-box-shadow: 2px 2px 10px 1px rgba(50, 50, 50, 0.75);
  box-shadow: 2px 2px 10px 1px rgba(50, 50, 50, 0.75);
  animation: FadeBottom 1s ease;
}

@keyframes FadeBottom {
  0% {
    opacity: 0;
    transform: translateY(100%);
  }
  25% {
    opacity: 0.1;
  }
  100% {
    transform: translateY(0);
  }
}

@keyframes FadeTop {
  0% {
    opacity: 0;
    transform: translateY(-100%);
  }
  25% {
    opacity: 0.1;
  }
  100% {
    transform: translateY(0);
  }
}
small#copyright {
  margin-top: 35px;
}

.text-muted {
  color: #fff !important;
}

.text {
  color: #fff !important;
}

label {
  display: inline-block;
  margin-bottom: 0.5rem;
  font-weight: 600;
  color: #fff;
}

.form-btn {
  text-align: center;
  margin: 40px 0px 0px 0px;
  width: 100%;
}

.form-btn button {
  border: 2px solid #fff;
  border-radius: 2px;
  width: 45%;
  padding: 8px 15px;
  font-weight: 900;
  color: #fff;
  font-size: 20px;
  transition: all 0.3s ease-in;
}

.form-btn button:hover {
  background-color: #fff;
  color: #10c1d0;
  transition: all 0.3s ease-out;
}

.form-head {
  display: flex;
  justify-content: center;
  width: 100%;
  margin-bottom: 20px;
}

.form-head h1 {
  font-weight: 800;
  font-size: 30px;
  text-align: center;
  color: #fff;
  text-shadow: 2px 4px 3px rgba(0, 0, 0, 0.3);
  cursor: pointer;
  transition: all 0.3s ease;
}

.form-head h1:hover {
  border-bottom: 3px solid #fff;
  padding-bottom: 5px;
  transition: all 0.3s ease;
}

.img-fluid {
  max-width: 100%;
  height: auto;
  margin-bottom: 20px;
  cursor: pointer;
  transition: all 0.3s ease;
  animation: FadeTop 1s ease;
}

.img-fluid:hover {
  transform: scale(1.1);
  transition: all 0.3s ease;
}

.text-muted {
  color: #fff !important;
  font-size: 12px;
  text-align: center;
}

.text {
  color: #fff !important;
  font-size: 16px;
  text-align: center;
}